<a href="https://colab.research.google.com/github/LuizNunes2020/Laboratorios_ME315/blob/main/lab10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3
import gdown
import polars as pl

In [ ]:
import pandas as pd
import sqlite3
import gdown

# IDs dos arquivos no Google Drive
file_id_basics = "1iYqAGTtIhRLK4ycFK41hYaWK3iKfOdT2"
file_id_ratings = "1kZuj1lnXkPrNURzwYuc4FXTM7Pvknr3o"
file_id_principals = "1oLR2_mFyRHEiKlqFKt4QDVYlGH8LC4mn"

# URLs de download direto
url_basics = f"https://drive.google.com/uc?id={file_id_basics}"
url_ratings = f"https://drive.google.com/uc?id={file_id_ratings}"
url_principals = f"https://drive.google.com/uc?id={file_id_principals}"

# Nomes dos arquivos locais
output_basics = "title.basics.tsv.gz"
output_ratings = "title.ratings.tsv.gz"
output_principals = "title.principals.tsv.gz"

# Baixar os arquivos
print("Baixando arquivos...")
gdown.download(url_basics, output_basics, quiet=False)
gdown.download(url_ratings, output_ratings, quiet=False)
gdown.download(url_principals, output_principals, quiet=False)

# Conectar ao banco de dados SQLite
conn = sqlite3.connect('movies.sqlite3')
cursor = conn.cursor()

# Especificar as colunas necessárias para cada arquivo
basics_columns = ['tconst', 'primaryTitle', 'startYear','genres']
ratings_columns = ['tconst', 'averageRating', 'numVotes']
principals_columns = ['tconst', 'nconst', 'category']

# Ler apenas as colunas necessárias para cada arquivo
basics_df = pd.read_csv(output_basics, sep='\t', compression='gzip', usecols=basics_columns)
ratings_df = pd.read_csv(output_ratings, sep='\t', compression='gzip', usecols=ratings_columns)
principals_df = pd.read_csv(output_principals, sep='\t', compression='gzip', usecols=principals_columns)

# Inserir os dados no banco de dados
basics_df.to_sql('basics', conn, if_exists='replace', index=False)
ratings_df.to_sql('ratings', conn, if_exists='replace', index=False)
principals_df.to_sql('principals', conn, if_exists='replace', index=False)

Baixando arquivos...

Downloading...
From (original): https://drive.google.com/uc?id=1iYqAGTtIhRLK4ycFK41hYaWK3iKfOdT2
From (redirected): https://drive.google.com/uc?id=1iYqAGTtIhRLK4ycFK41hYaWK3iKfOdT2&confirm=t&uuid=86067af9-4cf7-43b5-9e48-aca32f650ac6
To: /content/title.basics.tsv.gz
100%|██████████| 192M/192M [00:00<00:00, 224MB/s]
Downloading...
From: https://drive.google.com/uc?id=1kZuj1lnXkPrNURzwYuc4FXTM7Pvknr3o
To: /content/title.ratings.tsv.gz
100%|██████████| 7.47M/7.47M [00:00<00:00, 217MB/s]
Downloading...
From (original): https://drive.google.com/uc?id=1oLR2_mFyRHEiKlqFKt4QDVYlGH8LC4mn
From (redirected): https://drive.google.com/uc?id=1oLR2_mFyRHEiKlqFKt4QDVYlGH8LC4mn&confirm=t&uuid=818ce9b4-aa10-40b0-82b6-4fdac41cacc5
To: /content/title.principals.tsv.gz
100%|██████████| 671M/671M [00:04<00:00, 157MB/s]

In [ ]:
import pandas as pd
import sqlite3
import gdown

# IDs dos arquivos no Google Drive
file_id_basics = "1iYqAGTtIhRLK4ycFK41hYaWK3iKfOdT2"
file_id_ratings = "1kZuj1lnXkPrNURzwYuc4FXTM7Pvknr3o"
file_id_principals = "1oLR2_mFyRHEiKlqFKt4QDVYlGH8LC4mn"

# URLs de download direto
url_basics = f"https://drive.google.com/uc?id={file_id_basics}"
url_ratings = f"https://drive.google.com/uc?id={file_id_ratings}"
url_principals = f"https://drive.google.com/uc?id={file_id_principals}"

# Nomes dos arquivos locais
output_basics = "title.basics.tsv.gz"
output_ratings = "title.ratings.tsv.gz"
output_principals = "title.principals.tsv.gz"

# Baixar os arquivos
print("Baixando arquivos...")
gdown.download(url_basics, output_basics, quiet=False)
gdown.download(url_ratings, output_ratings, quiet=False)
gdown.download(url_principals, output_principals, quiet=False)

# Conectar ao banco de dados SQLite
conn = sqlite3.connect('movies.sqlite3')

# Definir as colunas necessárias para cada arquivo
basics_columns = ['tconst', 'primaryTitle', 'startYear', 'genres']
ratings_columns = ['tconst', 'averageRating', 'numVotes']
principals_columns = ['tconst', 'nconst', 'category']

# Ler e inserir dados em chunks para reduzir o uso de memória
chunk_size = 10000  # Tamanho do chunk

def inserir_dados_em_chunks(file_path, table_name, conn, columns, sep='\t', compression='gzip', chunk_size=10000):
    print(f"Inserindo dados na tabela '{table_name}' em chunks...")
    for chunk in pd.read_csv(file_path, sep=sep, compression=compression, usecols=columns, chunksize=chunk_size):
        chunk.to_sql(table_name, conn, if_exists='append', index=False)
    print(f"Dados inseridos na tabela '{table_name}'.")

# Inserir dados em chunks para cada tabela
inserir_dados_em_chunks(output_basics, 'basics', conn, basics_columns, chunk_size=chunk_size)
inserir_dados_em_chunks(output_ratings, 'ratings', conn, ratings_columns, chunk_size=chunk_size)
inserir_dados_em_chunks(output_principals, 'principals', conn, principals_columns, chunk_size=chunk_size)

print('Banco de dados criado com sucesso!')

Baixando arquivos...

Downloading...
From (original): https://drive.google.com/uc?id=1iYqAGTtIhRLK4ycFK41hYaWK3iKfOdT2
From (redirected): https://drive.google.com/uc?id=1iYqAGTtIhRLK4ycFK41hYaWK3iKfOdT2&confirm=t&uuid=5a252f08-9c44-4d57-b268-165f47131f3b
To: /content/title.basics.tsv.gz
100%|██████████| 192M/192M [00:01<00:00, 191MB/s]
Downloading...
From: https://drive.google.com/uc?id=1kZuj1lnXkPrNURzwYuc4FXTM7Pvknr3o
To: /content/title.ratings.tsv.gz
100%|██████████| 7.47M/7.47M [00:00<00:00, 50.9MB/s]
Downloading...
From (original): https://drive.google.com/uc?id=1oLR2_mFyRHEiKlqFKt4QDVYlGH8LC4mn
From (redirected): https://drive.google.com/uc?id=1oLR2_mFyRHEiKlqFKt4QDVYlGH8LC4mn&confirm=t&uuid=218edc47-ccbe-4253-a433-57734903f0ae
To: /content/title.principals.tsv.gz
100%|██████████| 671M/671M [00:03<00:00, 174MB/s]

Inserindo dados na tabela 'basics' em chunks...
Dados inseridos na tabela 'basics'.
Inserindo dados na tabela 'ratings' em chunks...
Dados inseridos na tabela 'ratings'.
Inserindo dados na tabela 'principals' em chunks...
Dados inseridos na tabela 'principals'.
Banco de dados criado com sucesso!

In [ ]:
Q1 = pl.read_database("""
   SELECT primaryTitle, averageRating, numVotes FROM ratings
   INNER JOIN basics
   ON ratings.tconst = basics.tconst
   ORDER BY averageRating DESC, numVotes DESC
   LIMIT 10
""", conn)
Q1

shape: (10, 3)
┌─────────────────────────────────┬───────────────┬──────────┐
│ primaryTitle                    ┆ averageRating ┆ numVotes │
│ ---                             ┆ ---           ┆ ---      │
│ str                             ┆ f64           ┆ i64      │
╞═════════════════════════════════╪═══════════════╪══════════╡
│ Ozymandias                      ┆ 10.0          ┆ 228900   │
│ Ozymandias                      ┆ 10.0          ┆ 228900   │
│ Ozymandias                      ┆ 10.0          ┆ 228900   │
│ Ozymandias                      ┆ 10.0          ┆ 228900   │
│ Kadifeyi Kesfet                 ┆ 10.0          ┆ 2904     │
│ Kadifeyi Kesfet                 ┆ 10.0          ┆ 2904     │
│ Kadifeyi Kesfet                 ┆ 10.0          ┆ 2904     │
│ Kadifeyi Kesfet                 ┆ 10.0          ┆ 2904     │
│ Tatilde CUK Oturur Mukemmel Du… ┆ 10.0          ┆ 2878     │
│ Tatilde CUK Oturur Mukemmel Du… ┆ 10.0          ┆ 2878     │
└─────────────────────────────────┴───────────────┴──────────┘

In [ ]:
Q2 = pl.read_database("""
   SELECT genres, COUNT(*) AS n FROM ratings
   INNER JOIN basics
   ON ratings.tconst = basics.tconst
   WHERE averageRating > 8
   GROUP BY genres
   ORDER BY n DESC
   LIMIT 5
""", conn)
Q2

shape: (5, 2)
┌────────────────────────────┬───────┐
│ genres                     ┆ n     │
│ ---                        ┆ ---   │
│ str                        ┆ i64   │
╞════════════════════════════╪═══════╡
│ Comedy                     ┆ 92284 │
│ Documentary                ┆ 83340 │
│ Drama                      ┆ 82708 │
│ Action,Adventure,Animation ┆ 52596 │
│ Drama,Romance              ┆ 29576 │
└────────────────────────────┴───────┘

In [ ]:
Q3 = pl.read_database("""
   SELECT nconst, COUNT(*) AS n FROM ratings
   INNER JOIN principals
   ON ratings.tconst = principals.tconst
   WHERE averageRating > 7.5 AND category IN ('actor', 'actress')
   GROUP BY nconst
   ORDER BY n DESC
   LIMIT 3
""", conn)
Q3

shape: (3, 2)
┌───────────┬──────┐
│ nconst    ┆ n    │
│ ---       ┆ ---  │
│ str       ┆ i64  │
╞═══════════╪══════╡
│ nm0048389 ┆ 7554 │
│ nm0217221 ┆ 5576 │
│ nm0444786 ┆ 4902 │
└───────────┴──────┘